form {
    margin-bottom: 2rem;
}

.blockquote-footer::before {
    content: none;
}

.blockquote-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-header {
    position: relative;
    padding-right: 110px;
}

.card-header .btn {
    position: absolute;
    top: 9px;
    right: 20px;
}

.card-header h5 {
   margin: 0;
}

span.required {
    margin-left: 40px;
}